[Unit]
Description=Irro
Documentation=http://irro.mgn.cz/

[Service]
Type=simple
ExecStartPre=/home/irro/irro-cli update --path /home/irro/irro-cli
ExecStart=/home/irro/irro-cli start
Restart=on-failure
RestartSec=5
User=irro
Group=irro

[Install]
WantedBy=multi-user.target
